.heatmap-container {
  display: flex;
  flex-direction: row;
}

.heatmap-container > * {
  margin: 0 4px;
}

.heatmap-container > *:first-child {
  margin-left: 0;
}

.heatmap-container > *:last-child {
  margin-right: 0;
}

@media (max-width: 600px) {
  .heatmap-container {
    flex-direction: column;
  }

  .heatmap-container > * {
    margin: 4px 0;
  }

  .heatmap-container > *:first-child {
    margin: 0 0 4px;
  }

  .heatmap-container > *:last-child {
    margin: 4px 0 0;
  }
}
