.number-container {
  box-shadow: rgba(31, 70, 88, 0.04) 0px 4px 6px 0px;
  display: inline-flex;
  border: 1px solid #dbe9f5;
  border-radius: 10px;
  padding: 8px 12px;
  flex-direction: column;
  align-items: flex-end;
  background-color: #ffffff;
}

.title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 4px;
}

.number {
  font-weight: 800;
  font-size: 20px;
}

@media (max-width: 600px) {
  .number-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .title {
    margin-bottom: 0px;
  }
}
