.region-table {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.region-table td {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.casesColumn,
.deathsColumn {
  text-align: right;
}
